# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
tmp_import_log.txt
tmp_test_import.py
backend/*.txt
backend/*.log
backend/.pytest_cache/
frontend/*.txt
frontend/*.log
git_status.txt
git_changes.txt
error.txt
error2.txt
source.zip
gcloud.zip
gcloud2.zip
gcloud_installer.exe
google-cloud-sdk/
.gcloudignore
